/* color theme; Used https://www.cleancss.com/css-beautify/ */

/* fonts*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css");

* {
    font-family: "Pretendard";
}

/* body background*/
 .content-wrapper {
     background-color: #FFF !important;
}
/* nav bar 우측 */
 .skin-black .main-header .navbar {
     background-color: #004B4D;
}
/* not sure*/
 .skin-black .main-header .navbar .sidebar-toggle:hover {
     color: #999;
     background: #FFF;
}
/* nav-bar radio Button border*/
 #lang button, #defaultGuide{
     background: #FFF;
     border: none;
     border-radius: 1em;
}
/* nav-bar left (Logo side)*/
 .skin-black .main-header .logo {
     background-color: #004B4D;
     color: #333;
     border-bottom: 0 solid transparent;
     border-right: 1px solid #eee;
}
/* nav-bar left (Logo side) hover*/
 .skin-black .main-header .logo:hover {
     background-color: #004B4D;
}
/* module tabset */
#importTabset, #visTabset, #statTabset, #mlTabset, #edaTabset{
     border-bottom: solid 1px black;
}

/* tab-set selected tab color*/
 .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
     border-top-color: #004B4D;
}
/* tab-set selected tab color 2*/
 .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
     color: #fff;
     background-color: #004B4D;
}

/* Data Wrangling actionButtons */
#downloadReport, #showUpdateModule, #showFilterModule, #showTransformModule, #showReorderModule, #showExportModule,
/* stat module actionButtons*/
#generateTable, #mlrModule_1-reg, #kmsModule_1-cluster, #groupStatModule_1-build
{
  background: #004B4D;
  border-radius: 0;
  color: white;
  border: 0;
}
/* Example data button*/
.exampleButton {
  background: #F59B38;
     color: #fff !important;
     border: 0;
     border-radius: 0;
     width : 100%;
}
.exampleButton:hover{
  background-color: #E97407;
}


/* load aciton button */
 #importModule_1-confirm, #importModule_2-confirm, #importModule_3-confirm, #loadExample{
     width: 100%;
     background: #004B4D;
     opacity: 1 !important;
     border: none;
     font-weight: normal;
     color: white;
     border-radius: 0;
}
/* warnings & alert */
 .alert-info, .bg-aqua, .callout.callout-info, .label-info, .modal-info .modal-body {
     background-color: #B8906B !important;
     border: none;
     border-radius: 0;
}
/* warnings - success */
.alert-success, .bg-green, .callout.callout-success, .label-success, .modal-success .modal-body{
     background-color: #785330 !important;
     border: none;
     border-radius: 0;
}

/* IMPORT DATA BUTTON */
#importModule_1-import-result, #importModule_2-import-result, #importModule_3-import-result {
     border: none;
     border-radius: 0;
}
/* fileinput Selector (LEFT) */
 body > div.wrapper > div.content-wrapper > section > div > div:nth-child(2) > div:nth-child(2) > div.input-group > input {
     height:10em;
}

/* file input grey */
#datamods_import_file > div > div.datamods-file-import > div:nth-child(1) > div > div.input-group > input{
  border: 0;
}

#datamods_import_file > div > div.datamods-file-import > div:nth-child(1) > div{
  height: 59px;
}

#datamods_import_file > div > div.datamods-file-import > div > div > div.input-group > label > span,
#datamods_import_url > div > div.form-group.shiny-input-container > div > div,
#datamods_import_googlesheets > div > div.form-group.shiny-input-container > div > div,
#importModule_1-settings,
#datamods_import_file > div > div.col-sm-8 > div > div.datamods-file-import > div:nth-child(1) > div > div.input-group > label > span
{
    background: #E97407;
    color: white;
    border: 0;
    border-radius: 0;
}

/* fileinput button */

 body > div.wrapper > div.content-wrapper > section > div > div:nth-child(2) > div:nth-child(2) > div.input-group > label > span {
     height: 10em;
     border-top-left-radius: 2em;
     border-bottom-left-radius: 2em;
     display: table-cell;
    /*text vertical center*/
     background: #00ACD6;
    /* font style*/
     color: white;
     font-weight: bold;
}

/* file input option */
#importModule_1-settings-template > div > div > div{
  background: #004B4D;
  color: white;
  border: 0;
}

/* datatoy */
#exampleDataset > div > div > button{
  border: 0;
}
#exampleDataset > div > div > button > span > span{
  color: #E97407;
}

/* reactable style*/
/* reacttable header center align */
 .rt-text-content{
     margin:auto;
}
 .my-header{
   background: white;
   color: black;
   border-bottom: solid 2px #785330;
   font-size: 0.8em;
   text-align: center;
}
.my-row:hover{
  background-color: #E7D6C5;
}


/* sortable color */
 .rank-list-container .custom-sortable {
     background-color: #8A8 !important;
}
 .custom-sortable .rank-list-item {
     background-color: #BDB !important;
}
/* shinydashboard sidebar width */
/* .left-side{
     width: 300px;
}
 */
/* shinydashboard sidebar position fix */
/* .main-sidebar{
     position:fixed;
}
 */
/* left ui */
 .navbar-custom-menu{
     margin-bottom: -1em;
}


/* module selector*/
#module > div > div > button{
  border-radius: 0;
  font-weight: 600;
  background: #B8906B;
  color: white;
}

#module > div > div > button.active{
  background: #785330;
}

/*
.btn-group-justified>.btn-group .btn{
  background: #92BA92;
  border-right: 1px solid white;
  color: white;
}
*/

/* esquisse aesthetic options*/
#aes > div > div > button{
  border-radius: 0;
  font-weight: 600;
  background: #B8906B;
  color: white;
}

#aes > div > div > button.active{
  background: #785330;
}


/* esquisse below buttons */
#visModule_e-controls-controls-labs, #visModule_e-controls-controls-parameters, #visModule_e-controls-controls-appearance, #visModule_e-controls-controls-code{
    background: #004B4D;
    border-right: 1px solid white;
    font-weight: normal;
    color: white;
}

/* esquisse inside option buttons */

#visModule_e-controls-labs_title_options,
#visModule_e-controls-labs_subtitle_options,
#visModule_e-controls-labs_caption_options,
#visModule_e-controls-labs_x_options,
#visModule_e-controls-labs_y_options{
  background: #004B4D;
  color: white;
}

#visModule_e-controls-legend_position > div > div > button{
  background: #004B4D;
  color: white;
}
#sw-content-visModule_e-controls-controls-appearance > div > div:nth-child(5) > div > button{
  background: #92BA92 !important;
  color: #fff !important;
  border: 0;
}

/* esquisse auto chart background*/

#visModule_e-geom > button{
  color: white;
  background: #162027;
}


/* code area*/
pre{
  color: #F2F8FF;
  background-color: #162027;
  border-radius: 1em;
  border: none;
}


/* slider bar */
.irs--shiny .irs-bar--single, span.irs-single, span.irs-min, span.irs-max{
  border-radius: 0;
  border: 0;
  background: #92BA92;
  background-color: #92BA92 !important;
  color: white;
}

/* slider bar handle*/
.irs--shiny .irs-handle{
  background-color: #004B4D;
  border: 1px solid #fff;
}

/* slider bar handle hover*/
.irs--shiny .irs-handle.state_hover, .irs--shiny .irs-handle:hover{
  background: #E97407;
}

/* select active */
.selectize-input.focus{
  border-color: #92BA92;;
}

