/*

*/

body > div.wrapper > div.content-wrapper > section > div > div.form-group.shiny-input-container > div.input-group > input{
  height:10em;
}

/*
fileinput button
*/

body > div.wrapper > div.content-wrapper > section > div > div.form-group.shiny-input-container > div.input-group > label > span{

  height: 10em;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;

  display: table-cell; /*text vertical center*/

  background: #001F3F; /* font style*/
  color: white;
  font-weight: bold;
}

/*
react table header center align
*/
.rt-text-content{
  margin:auto;
}

.my-header{
  background: #2c3c75;
  color: #FFFFFF;
  font-size: 15px;
  text-align: center;
}

/*
color of the year 2022

*/


/*
sortable color
*/
.rank-list-container .custom-sortable {
  background-color: #8A8 !important;
}

.custom-sortable .rank-list-item {
  background-color: #BDB !important;
}


/*
shinydashboard sidebar width
*/
.left-side{
  width: 300px;
}
